[Unit]
Description=Deluge Bittorrent Client Web Interface
After=deluged.service
Wants=deluged.service

[Service]
User=deluge
Group={{ media_group }}
ExecStart=/usr/bin/deluge-web -d
Restart=on-failure

[Install]
WantedBy=multi-user.target
